<div class="main">
    <!-- Default form login -->
    <form class="text-center border border-light p-5" [formGroup]="myForm" (ngSubmit)="submit()">
    
      <p class="h4 mb-4">Add Categories</p>
    
      <input type="email"  class="form-control mb-4" placeholder="Category Name" formControlName="cname"> 
          
      <input type="submit" value="Submit" class="btn btn-block waves-effect" style="color: white; background-color: #528bba"> 
      
    </form>
    <!-- Default form login -->
</div>